*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore / signing
*.jks
*.keystore
keystore.properties
signing.properties

# Google Play service account
play-service-account.json

# Firebase config
google-services.json
app/google-services.json
